<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>By Categories</ion-list-header>
      <button ion-item *ngFor="let category of newsCategories; let i = index" (click)="loadNews(category, i)">
        {{category}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>By Source</ion-list-header>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <button ion-item *ngFor="let source of newsSources; let i = index" (click)="loadNews(source, i + 5)">
        {{source}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
